/target
/vendor/boost
/touchHLE_sandbox
/touchHLE_apps/*.ipa
/touchHLE_apps/*.app
touchHLE_log.txt
touchHLE_wallpaper.*

# Xcode Project (Modern/Deeply Nested)
**/*.xcodeproj/xcuserdata/
**/*.xcworkspace/xcuserdata/
**/.swiftpm/xcode/xcuserdata/
**/*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
**/*.xcworkspace/xcshareddata/*.xccheckout
**/*.xcworkspace/xcshareddata/*.xcscmblueprint
**/*.playground/**/timeline.xctimeline

# Android

*.iml
.gradle
/local.properties
.idea/
/build
/captures
.externalNativeBuild
.cxx
local.properties
android/app/src/main/jniLibs
android/app/build
android/build

# Default developer dump file

DUMP.txt
