/target
/vendor/boost
/touchHLE_sandbox
/DCIM
/touchHLE_apps
touchHLE_log.txt
touchHLE_wallpaper.*

# Android

*.iml
.gradle
/local.properties
.idea/
/build
/captures
.externalNativeBuild
.cxx
local.properties
android/app/src/main/jniLibs
android/app/build
android/build

# macOS

.DS_Store

# Default developer dump file

DUMP.txt
