/target
/vendor/boost
/touchHLE_sandbox
/touchHLE_apps/*.ipa
/touchHLE_apps/*.app

# Xcode (integration testing app)

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3

tests/TestApp_source/build

# Android

*.iml
.gradle
/local.properties
.idea/
/build
/captures
.externalNativeBuild
.cxx
local.properties
android/app/src/main/jniLibs
android/app/build
