[submodule "stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
	branch = dev
[submodule "dynarmic"]
	path = vendor/dynarmic
	url = https://github.com/merryhime/dynarmic.git
[submodule "openal-soft"]
	path = vendor/openal-soft
	url = https://github.com/kcat/openal-soft
