[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = High-level emulator for iPhone OS apps
[access "refs/*"]
	owner = group user/hikari_no_yume (hikari-no-yume)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/hikari_no_yume (hikari-no-yume)
	label-Verified = -1..+1 group user/hikari_no_yume (hikari-no-yume)
	push = group user/hikari_no_yume (hikari-no-yume)
	read = group user/hikari_no_yume (hikari-no-yume)
	rebase = group user/hikari_no_yume (hikari-no-yume)
	removeReviewer = group user/hikari_no_yume (hikari-no-yume)
	submit = group user/hikari_no_yume (hikari-no-yume)
[access "refs/heads/*"]
	create = group user/hikari_no_yume (hikari-no-yume)
	push = +force group user/hikari_no_yume (hikari-no-yume)
	pushMerge = group user/hikari_no_yume (hikari-no-yume)
	read = group user/hikari_no_yume (hikari-no-yume)
[access "refs/tags/*"]
	push = group user/hikari_no_yume (hikari-no-yume)
	push = +force group user/hikari_no_yume (hikari-no-yume)
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
