[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[project]
	description = High-level emulator for iPhone OS apps
[access "refs/*"]
	owner = group user/hikari_no_yume (hikari-no-yume)
	forgeCommitter = group user/hikari_no_yume (hikari-no-yume)
	forgeAuthor = group user/hikari_no_yume (hikari-no-yume)
[access "refs/for/refs/*"]
	push = group user/hikari_no_yume (hikari-no-yume)
	read = group user/hikari_no_yume (hikari-no-yume)
	rebase = group user/hikari_no_yume (hikari-no-yume)
	removeReviewer = group user/hikari_no_yume (hikari-no-yume)
	submit = group user/hikari_no_yume (hikari-no-yume)
	label-Code-Review = -2..+2 group user/hikari_no_yume (hikari-no-yume)
	label-Verified = -1..+1 group user/hikari_no_yume (hikari-no-yume)
	forgeCommitter = group user/hikari_no_yume (hikari-no-yume)
[access "refs/heads/*"]
	create = group user/ciciplusplus
	create = group user/hikari_no_yume (hikari-no-yume)
	push = +force group user/ciciplusplus
	push = +force group user/hikari_no_yume (hikari-no-yume)
	pushMerge = group user/ciciplusplus
	pushMerge = group user/hikari_no_yume (hikari-no-yume)
	read = group user/hikari_no_yume (hikari-no-yume)
	submit = group Change Owner
	submit = group user/ciciplusplus
	submit = group user/hikari_no_yume (hikari-no-yume)
	label-Code-Review = -2..+2 group user/ciciplusplus
	label-Code-Review = -2..+2 group user/hikari_no_yume (hikari-no-yume)
	label-Verified = -1..+1 group Change Owner
	label-Verified = -1..+1 group user/ciciplusplus
	label-Verified = -1..+1 group user/hikari_no_yume (hikari-no-yume)
[access "refs/tags/*"]
	push = group user/ciciplusplus
	push = +force group user/ciciplusplus
	push = group user/hikari_no_yume (hikari-no-yume)
	push = +force group user/hikari_no_yume (hikari-no-yume)
	create = group user/ciciplusplus
	create = group user/hikari_no_yume (hikari-no-yume)
	delete = group user/hikari_no_yume (hikari-no-yume)
[receive]
	requireChangeId = true
	rejectImplicitMerges = true
[label "Code-Review"]
	function = NoOp
	value = -2 This shall not be submitted
	value = -1 I would prefer this is not submitted as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	copyCondition = changekind:TRIVIAL_REBASE OR changekind:NO_CODE_CHANGE
	defaultValue = 0
[label "Verified"]
	function = NoOp
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyCondition = changekind:TRIVIAL_REBASE OR changekind:NO_CODE_CHANGE
	defaultValue = 0
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
[submit-requirement "Code-Review"]
	description = A maximum vote from a non-uploader is required for the \t              'Code-Review' label. A minimum vote is blocking.
	submittableIf = label:Code-Review=MAX,user=non_uploader AND -label:Code-Review=MIN
	canOverrideInChildProjects = false
[submit-requirement "Verified"]
	description = Someone must have done basic testing of the patch, and \t              it can't have failed for anyone.
	submittableIf = label:Verified=MAX AND -label:Verified=MIN
	canOverrideInChildProjects = false
